#home .imageContainer { 
    margin: 20px auto; 
    min-width: 210px; 
    width: 65vw; 
    max-width: 330px;
    border-radius: 50%; 
    background: linear-gradient(70deg, rgb(194, 194, 194), rgb(43, 43, 43));
    padding: 7px;
}

#home img {
    border-radius: 50%;
    max-width: 100%;
}