* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-fade {
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.5);
}

.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}