#header {
    /* background-image: url("../assets/images/ivy_fence.jpg"); */
    background-position: center;
    background-size: contain;
    height: 200px;
    color: white;
    text-align: center; 
}
#header .bg-fade {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#header h1 {
    background-color: white;
    font-weight: bold;
    font-size: 2.5rem;
    color: rgb(110, 110, 110);
    width: fit-content; 
    padding: 10px; 
    margin: 0 auto; 
    font-family: monospace;
}
#header a {
    color: white;
    text-decoration: none;
    font-weight:  bold;
    background-color: black;
    padding: 5px;
    font-size: 1.2rem;
}
/* toggle theme button */
#header button {
    width: 35px;
    height: 35px;
    font-size: 20px;
    border-radius: 50%;
    border: 1px solid; 
    position: absolute;
    top: 30px;
    right: 30px; 
}
/* navbar */
nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
